<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatiable" content="ie=edge">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7124YV7P8F"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-7124YV7P8F');
	</script>
	<link rel="icon" href="../favicon.ico">
	<link href="./style_homepage.css" rel="stylesheet">
	<link href="./style_app_homepage.css" rel="stylesheet">
	<link rel="stylesheet" href="./aos.css" />
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"></link> -->
	<title>靈感時空 Spark Immersive Center</title>
</head>
<body>
	<div class="BG" id="top">
		<div class="popup">
			<div class="popup-contact">
				<div id="popup-close-btn"  onclick="Popup_FadeOut()">
					close
					<svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path id="popup-close-icon" d="M17 7L7 17M17 17L7 7" stroke="#18181A" stroke-width="1.5" stroke-linecap="round"/>
					</svg>	
				</div>
				<div id="popup-content-block">
					<div id="popup-title"><img src="./image/popup-phone.svg">聯絡我們</div>
					<div id="popup-text">
						<span><b>新生辦公室 & 展示空間</b></span>
						<span class="popup-link"><a href="mailto:hi@sparklab.tw">hi@sparklab.tw</a></span>
						<span class="popup-link" onclick='location.href="https://goo.gl/maps/HPiPrsR4JtShPEUN9"'>100 台北市中正區新生南路一段54巷8號1F</span><br>
						<span><b>總公司</b></span>
						<span class="popup-link"><a href="tel:0958-284-982">02&nbsp;2768&nbsp;9769</a>｜<a href="mailto:coolassic@cool-medialab.com">coolassic@cool-medialab.com</a></span>
						<span class="popup-link" onclick='location.href="https://maps.app.goo.gl/ut46emsDYJhWGNJs7"'>110 台北市信義區東興路69號9F</span>
						<span>營業時間｜週一至週五（國定假日除外）&nbsp;09：30&nbsp;~&nbsp;18：30</span><br>
						<span><a href="https://www.facebook.com/people/靈感時空-Spark-Immersive/61562282013347/" target="_blank"><img src="./image/popup-fb.png" width="12" height="12"> 靈感時空 Facebook</a>｜
						<a href="https://www.instagram.com/spark_immersive_center/" target="_blank"><img src="./image/popup-ins.png" width="12px" height="12px"> 靈感時空 Instagram</a><br><a href="https://sparklab.tw/contactus.html" onclick="Popup_FadeOut()"><img src="./image/popup-write.png" width="12" height="12"> 聯絡表單 Contact us</a></span>
					</div>
				</div>
				<div id="popup-content-block-app">
					<div class="popup-logo" onclick='location.href="/"'><img id="popup-logo-img" src="./image/popup-app-logo.svg"></div>
					<div class="popup-menu-bar">
						<button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/#team">
							<p>團隊介紹</a></p></button>
                        <button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/#work">
                            <p>歷年作品</a></p></button>
						<button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/#service">
							<p>營業項目</a></p></button>
						<button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/#space">
							<p>空間介紹</p></a></button>
						<button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/#map">
							<p>交通位置</p></a></button>
							<button class="popup-menu-btn" onclick="Popup_FadeOut()"><a href="https://sparklab.tw/contactus.html">
							<p>聯絡我們</p></a></button>
							<botton class="popup-menu-btn" onclick='location.href="https://www.facebook.com/people/靈感時空-Spark-Immersive/61562282013347/"'>
								<p><img src="./image/popup-fb.png" width="12" height="12"> 靈感時空 Facebook</p></botton>
								<botton class="popup-menu-btn" onclick='location.href="https://www.instagram.com/spark_immersive_center/"'>
								<p><img src="./image/popup-ins.png" width="12px" height="12px"> 靈感時空 Instagram</p></botton>		</div>
					<div class="popup-footer">
						
						<span class="popup-menu-btn2" id="popup-policy" onclick='window.location.href="/Privacy&CookiePolicy"'>Privacy & Cookie Policy</span>
						<p>Spark Immersive Center © 2024</p>
					</div>
				</div>

			</div>
		</div>
	<header>		
		<div class="header-container">
			<div class="logo" onclick='location.href="/"'><img id="logo-img" src="./image/LOGO.svg"></div>
			<div class="menu-bar">
				<button class="menu-btn" onclick='location.href="https://sparklab.tw/#team"'><span class="btn-ainmate"></span><p>團隊介紹</p></button>
				<button class="menu-btn" onclick='location.href="https://sparklab.tw/work.html"'><span class="btn-ainmate"></span><p>歷年作品</p></button>
				<button class="menu-btn" onclick='location.href="https://sparklab.tw/#service"'><span class="btn-ainmate"></span><p>營業項目</p></button>
				<button class="menu-btn" onclick='location.href="https://sparklab.tw/#space"'><span class="btn-ainmate"></span><p>空間介紹</p></button>
				<button class="menu-btn" onclick='location.href="https://sparklab.tw/#map"'><span class="btn-ainmate"></span><p>交通位置</p></button>
			</div>
			<div class="contact">
					<button id="contact-btn" title="popup-btn" onclick="Popup_FadeIn()">Contact</button>
					<button id="contact-btn-app"  title="popup-btn" onclick="Popup_FadeIn()">
						<svg id="contact-btn-app-icon" width="4" height="14" viewBox="0 0 4 14" fill="#F5F5F5" xmlns="http://www.w3.org/2000/svg">
							<circle id="Ellipse 8" cx="2" cy="1.5" r="1.5" />
							<circle id="Ellipse 9" cx="2" cy="7" r="1.5" />
							<circle id="Ellipse 10" cx="2" cy="12.5" r="1.5" />
						</svg>
					</button>
				</div>
		</div>
	</header>
	<div id="policy-body">
		<div id="policy-wrapper">
			<div id="policy-title">
				<h1>隱私權政策</h1>
				<h2>Privacy&nbsp;&&nbsp;Cookie&nbsp;Policy</h2>
			</div>
			<div id="deco-line"></div>
			<div class="policy-contentBlock">
				<div class="policy-subtitle">隱私權保護政策</div><br class="app">
				<div class="policy-content">
					非常歡迎您光臨「靈感時空官網」（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
					<br><br>
					<span>一、隱私權保護政策的適用範圍</span><br><br>
					隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。
					<br><br>
					<span>二、個人資料的蒐集、處理及利用方式</span><br><br>
					<ul class="policy-list">
					<li>當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。
					</li><br>
					<li>本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式及使用時間等。</li><br>
					<li>於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的 IP 位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</li><br>
					<li> 為提供精確的服務，我們會將收集的問卷調查內容進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。</li><br>
					<li>您可以隨時向我們提出請求，以更正或刪除本網站所蒐集您錯誤或不完整的個人資料。</li>
					<br><br></ul>
					<span>三、資料之保護</span><br><br>
					<ul class="policy-list">
					<li>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義務者，將會受到相關的法律處分。</li>
					<li>如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。</li>
					<br><br></ul>
					<span>四、網站對外的相關連結</span><br><br>
					本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。
					<br><br>
					<span>五、與第三人共用個人資料之政策</span><br><br>
					本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。
					前項但書之情形包括不限於：
					<ul class="policy-list">
					<li>經由您書面同意。</li>
					<li>法律明文規定。</li>
					<li>為免除您生命、身體、自由或財產上之危險。</li>
					<li>與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集者依其揭露方式無從識別特定之當事人。</li>
					<li>當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。</li>
					<li>有利於您的權益。</li>
					<li>本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。</li>
					<br><br></ul>
					<span>六、Cookie 之使用</span><br><br>
					為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的 Cookie，若您不願接受 Cookie 的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕 Cookie 的寫入，但可能會導致網站某些功能無法正常執行 。
					<br><br>
					<span>七、隱私權保護政策之修正</span><br><br>
					本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
				</div>
			</div>
			<div class="policy-contentBlock">
				<div class="policy-subtitle-EN">Privacy&nbsp;&&nbsp;Cookie&nbsp;Policy</div>
				<div class="policy-content-EN">
					<h1>Who We Are</h1><br>
					At Spark Immersive Center website, we are committed to maintaining the trust and confidence of all visitors to our web site. In particular, we want you to know that Spark Immersive Center is not in the business of selling, renting or trading email lists with other companies and businesses for marketing purposes.
					<br><br><br class="app">
					<span>1. Privacy Policy</span><br><br>
					In this Privacy Policy, we’ve provided detailed information on when and why we collect personal information, how we use it, the limited conditions under which we may disclose it to others, and how we keep it secure.<br><br>
					We take your privacy seriously and take measures to provide all visitors and users of Spark Immersive Center websitewith a safe and secure environment.
					<br><br><br class="app">
					<span>2. Cookies</span><br><br>
					Spark Immersive Center websitemay set and access Spark Immersive Center websitecookies on your computer. Cookies are used to provide our system with the basic information to provide the services you are requesting. Cookies can be cleared at any time from your internet browser settings.
					<br><br><br class="app">
					<span>3. Google Analytics</span><br><br>
					When someone visits Spark Immersive Center websitewe use a third party service, Google Analytics, to collect standard internet log information and details of visitor behaviour patterns. We do this to track things such as the number of visitors to the various parts of the site and interactions with the site. This information is processed in a way which does not identify anyone. We do not make, and do not allow Google to make, any attempt to find out the identities of visitors to our website.
					<br><br><br class="app">
					<span>4. Website Comments</span><br><br>
					When someone visits [YOURSITE.com], there may be an ability to submit comments on particular articles or pages. When comments are submitted, you are entitled to use aliases or information that completely hides your identity. When a comment is submitted, the relevant details (name, email, website) that you provide are stored. These details are stored so that we can display your comment back to you, and to anyone viewing the comment sections on the site. We do not verify information entered nor do we require verification.
					<br><br><br class="app">
					<span>5. Third Parties</span><br><br>
					There may be some circumstances where your IP address, geographic location, and other browser related details may be shared with third party companies. We may share your above mentioned data with following third party companies from time to time.<br><br>
					Access to Your Personal Information<br><br>
					You are entitled to view, amend, or delete the personal information that we hold. Email your request to our data protection officer [YOUR FIRST NAME] at [EMAIL ADDRESS] and we will work with you to remove any of your personal data we may have.
					<br><br><br class="app">
					<span>6. Changes to Our Privacy Policy</span><br><br>
					We may make changes to our Privacy Policy in the future, however, the most current version of the policy will govern our processing of your personal data and will always be available to you.<br><br>
					If we make a change to this policy that, in our sole discretion, is material, we will notify you by an update or email, where possible. By continuing to access or use our services, you agree to be bound to the terms of our Privacy Policy.
				</div>
			</div>
		</div>
		<div id="top-btn" onclick='location.href="#top"'>
			<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_1107_1922)" >
				<circle id="top-btn-circle" cx="25" cy="25" r="24.5" stroke="#1A1A1A"/ style="transition: all 400ms ease-in-out;"></g>
				<g><path d="M32 29L25 22L18 29" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</g>
				<defs>

				</defs>
			</svg>
		</div>
	</div>
	
	<footer>
		<div id="ticker-wrapper">
			<div id="ticker">
				<div id="ticker-CN">聯絡我們</div>
				<img src="./image/ticker-arrow.svg">
				<div id="ticker-EN">SPARK&nbsp;IMMERSIVE&nbsp;CENTER</div>
			</div>
			<div id="ticker">
				<div id="ticker-CN">聯絡我們</div>
				<img src="./image/ticker-arrow.svg">
				<div id="ticker-EN"><i>SPARK&nbsp;IMMERSIVE&nbsp;CENTER</i></div>
			</div>
			<div id="ticker">
				<div id="ticker-CN">聯絡我們</div>
				<img src="./image/ticker-arrow.svg">
				<div id="ticker-EN">SPARK&nbsp;IMMERSIVE&nbsp;CENTER</div>
			</div>
			<div id="ticker" class="desktop">
				<div id="ticker-CN">聯絡我們</div>
				<img src="./image/ticker-arrow.svg">
				<div id="ticker-EN"><i>SPARK&nbsp;IMMERSIVE&nbsp;CENTER</i></div>
			</div>
			<div id="ticker" class="desktop">
				<div id="ticker-CN">聯絡我們</div>
				<img src="./image/ticker-arrow.svg">
				<div id="ticker-EN">SPARK&nbsp;IMMERSIVE&nbsp;CENTER</div>
			</div>
		</div>
		<div id="foo">
			<div><span id="foo-adress" style="font-size: 13px;"><b>新生辦公室 & 展演空間</b></span><div class="home">　</div>
			<div id="base">
				<div id="foo-mail" onclick='location.href="mailto:hi@sparklab.tw"'><a>hi@sparklab.tw</a></div>
				<br class="desktop"><span id="foo-adress" onclick='location.href="https://goo.gl/maps/HPiPrsR4JtShPEUN9"'>100 台北市中正區新生南路一段54巷8號1F</span>
				<div class="app" >營業時間｜<br>採預約制，歡迎來電諮詢</div>
				<br class="app">
			</div></div>
			<div><span id="foo-adress" style="font-size: 13px;"><b>總公司</b></span><div class="home">　</div>
			<div id="base">
				<div id="foo-mail" onclick='location.href="mailto:coolassic@cool-medialab.com"'><a>coolassic@cool-medialab.com</a></div>
				<div id="foo-phone" onclick='location.href="tel:0958-284-982"'><span>02&nbsp;2768&nbsp;9769</span></div>
				<br class="desktop"><span id="foo-adress" onclick='location.href="https://maps.app.goo.gl/ut46emsDYJhWGNJs7"'>110 台北市信義區東興路69號9F</span>
			<div class="app" >營業時間｜<br>週一至週五（國定假日除外） 09：30 ~ 18：30 <br class="app">　</div>
			<div class="app" ><br class="app"><span class="popup-link" onclick='location.href="https://www.facebook.com/people/靈感時空-Spark-Immersive/61562282013347/"'><img src="./image/popup-app-fb.png" width="12" height="12" style="border:0"> 靈感時空 Facebook</a></span>
				<br class="app"></div><div class="app" ><span class="popup-link" onclick='location.href="https://www.instagram.com/spark_immersive_center/"'><img src="./image/popup-app-ins.png" width="12" height="12" style="border:0"> 靈感時空 Instagram</span><br class="app"></div>
				<br class="app">
			</div></div>
			<div id="policy"  onclick='window.location.href="/Privacy&CookiePolicy"'>Privacy&nbsp;&&nbsp;Cookie&nbsp;Policy&nbsp;*&nbsp;<br class="app"></div>
			<div id="company">Spark&nbsp;Immersive&nbsp;Center&nbsp;©&nbsp;2024 </div>
		</div>
	</footer>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script>
		AOS.init({
		easing: 'ease-in-out-sine',
		duration: 800
		});
		function Popup_FadeOut()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");
	  	}
		function Popup_FadeIn() {
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");

		}

		function Popup_team()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");
	  		window.location = '/#team';

	  	}
	  	function Popup_space()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");
	  		window.location = '/#space';

	  	}
	  	function Popup_service()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");
	  		window.location = '/#service';

	  	}

		function Popup_map()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");
	  		window.location = '/#map';

	  	}
	  	function Popup_contact()
		{
			var popup = document.getElementsByClassName("popup")[0];
	  		popup.classList.toggle("show");

	  		window.location = '/#foo';

	  	}
    </script>
	
</body>
</html>
