@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Emblema+One&family=Homemade+Apple&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Lavishly+Yours&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Rubik+Pixels&family=Ruthie&family=Satisfy&family=Special+Elite&family=Tajawal:wght@200;300;400;500;700;800;900&family=Tiny5&family=Tiny5&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');





html {
    background: #F6F5F1;
    overflow: -moz-hidden-unscrollable;
    height: 100%;
    transition:1s ease-in;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*公司標準色#00001E 深藍1 ｜#F6F5F1 米灰｜#969697 深灰
#2A3F58 深藍2 ｜ #5985B9 藍 ｜ #FC875B 橘*/


html,body{
    background-color: #F6F5F1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    color: #000000;
    z-index: -20;
    line-height: 33px;
    font-display: swap;
    font-size:24px;-webkit-font-smoothing: antialiased; /* for safari & chrome */
    -moz-osx-font-smoothing: grayscale; /* for firefox */
    
    
}





#div1, #div2, #div3, #div4, #div5{
    min-height:50vh;
    box-sizing: content-box;
    justify-content: center;
    
}




.sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7{
    box-sizing: content-box;
    z-index:2 ;
    margin: 0px;
    border: 0;
    padding:80px;width:calc(100%-160px);
    display: block;
    overflow:hidden;
    vertical-align: bottom;
    justify-content: center;
}






.contact_button{
    z-index:99;
    width: 70px;height:70px;
    position:fixed;
    right:40px;bottom:40px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    }

/*.contact_button:hover{
    background:url(./img/contact_us2.png) 60px 60px;
    cursor: pointer;
    transition: all 400ms ease-in-out;}*/

.contact_button img{ 
    width: 70px;height:70px;
    position:absolute;
        /* 淡出淡入效果2秒 */
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
        -webkit-transition: transform 2s ease-in-out;
        -moz-transition: transform 2s ease-in-out;
        -o-transition: transform 2s ease-in-out;
        transition: 2s ease-in-out;
        -webkit-transition: 2s ease-in-out;
        -moz-transition: 2s ease-in-out;
        -o-transition: 2s ease-in-out;
        transition: 2s ease-in-out;
       }



.contact_button img:last-child:hover{
    width: 70px;height:70px;
    transform: rotate(-360deg);
         /* 滑入時第一張透明度設0 */
          opacity:0;}

.contact_button img:first-child:hover{
    transform: rotate(360deg);
    opacity:1;
}

          

.sec1 a{color: #000000;transition:0.5s ease-in;text-decoration: none;}
.sec1 a:hover{color:#FC875B;}
.index__1:hover{border-bottom: #fff 1px solid 0.5px;}
.underline1 {
    display: inline;
    height: 130%;
    background-image:none;
    background-repeat: no-repeat;
    padding-top:4px;
    background-size: 40% 1px;
    background-position: 50% 88%;
    transition:5s ease-in;
    transition-delay: 3s;
    &:hover {
        background-image: linear-gradient(120deg, #FFFFFF 0%, rgba(0,0,0,0)  100%);
        transition:5s ease-out;
        transition-delay: 3s;
    }
  }

.sec{
    margin: 0;
    border: 0;
    padding: 0;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./img/header.webm);
    background-position-x: 50%;
    background-position-y: 0%;
    position: fixed;
    -webkit-postion: fixed;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    z-index:-1 ;  

    }

    @keyframes bgmshine{
        0%{opacity:1;}
        70%{opacity:0.5}
        100%{opacity:1;}}


#div1, #div2, #div3, #div4, #div5{
    height:90vh;
    box-sizing: content-box;
    
}

#all{position: relative;}


/* typing animation*/


[text-split] {
    opacity: 1;
  }
  
  html.w-editor [text-split] {
    opacity: 0;
  }
  
  .word,
  .char {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
    transform-origin: bottom;
    vertical-align: bottom;
  }
  
  .gradient-text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, #a3a3ec 0%, #2A3F58 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .spacer {
    width: 100%;
    height: 100vh;
  }

/* typing end */


/*menu sticky*/

.navigation{
    width: 100%;
    transition:1s ease-in;
    padding: 20px;
    margin: 0;
    top:0;
    right: 0;
    left:0;
    color: #000;
    z-index: 9999;
    text-align: left;
    overflow-x:scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: sticky;
    position: -webkit-sticky;
    transition:1s ease-in-out;
    font-size: 20px;

  }

.navigation .my-edit-icon {
    padding-top:10px;
    padding-left:20px;
    fill: #5985B9;
    background: transparent;
    transition: fill 0.8s ease-in-out;
    transition: filter 1s ease-in-out;
    transition: 1s ease-in-out;
    filter: blur(0);
}

.navigation.ab{

    background-color: transparent;
    position: sticky;
    position: -webkit-sticky;
    margin: 0px;width: 100%;
    padding: 30px;
    height: 60px;
    padding-left:40px;
    padding-top:30px;
    padding-bottom:20px;
    color:#3e0958;
    font-size: 20px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(50px);
    -webkit-overflow-scrolling: touch;
    transition:1s ease-in-out;
    opacity: 1;

  }

  .navigation.ab .my-edit-icon {
    fill: #2A3F58;
    transition: fill 0.8s ease-in-out;
    transition: filter 1s ease-in-out;
    transition: 1s ease-in-out;
    filter: blur(0);
}

.navigation .my-edit-icon:hover {
    fill: #FC875B;
    filter: blur(1px);
    transition: 1s ease-in-out;
    transition: fill 0.8s ease-in-out;
    transition: filter 1s ease-in-out;
}


  .navigation.ab a{
    color:#9966FF;
    transition:1s ease-in-out;
    text-shadow: rgba(28, 4, 49, 0.8) 0em 0em 0.2em;
  }

.navigation.ab a:hover {
    color: #FC875B;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1px;
}

/*menu*/

.menu-ok{z-index:9999 ;position: fixed;display:flex;top:30px;right:30px;transition:all 0.3s ease-in-out;justify-content: center;flex-direction: row nowrap;}
.navigation.ab .menu-ok{padding-right:70px;}
.menu-word{position:fixed;z-index: 999998;top:43px;right:100px;}
.menu-ok-svg:hover{fill: #FC875B;}
.menu-ok-svg a:hover{fill: #FC875B;}

.menu-ok:hover {
    cursor: pointer;
    fill: #FC875B;
    stroke:#FC875B;
    transition:all 0.3s ease-in-out;
    transition:fill 0.3s ease-in-out;
}


#content {
    letter-spacing: 0.5px;
    z-index: 999999;
    position: fixed;
    float: right;
    width: fit-content;
    height: fit-content;
    font-family: 'Tajawal';
    background-color: #FFFFFF;
    padding-left: 35px;
    padding-bottom:40px;
    padding-right:35px;
    right:0px;
    top:0px;
    font-size: 20px;
    border-radius: 40px;
    margin: 20px;
    transition: all 0.5s ease-in-out;
    transition: cs 0.5s ease-in-out;
  }

.menu-top{position:fixed;z-index: 9999999;top:30px;right:30px;}


#btn {position: fixed;
    float: right;}

#close {justify-content: flex-end;flex-flow: row wrap;vertical-align:bottom;top:40px;text-align: right;padding-right:44px;padding-top:23px;}
.close {font-family: 'Tajawal';font-weight: 300;font-size:24px;width:100%;display: block;text-align: right;flex-direction: row nowrap;justify-content: flex-end;color: #000;text-align: center;align-content: flex-end;}

.blank{display: inline-block;width: 50px;height: 50px;}

.menu-list{padding:10px;font-size: 30px;font-family: 'Outfit';font-weight: 500;}
.list{font-size:16px;font-family: 'NOTO SANS TC';font-weight: 400;}

.menu-list a{color: #000000;text-decoration: none;transition: all 0.5s ease-in-out;text-transform:uppercase;}
.menu-list a:hover{color: #969697;margin-left:10px;}
.sns{color:#969697;font-size:16px;font-family: 'outfit';font-weight: 400;}
.sns a{color:#000000;}
.sns a:hover{font-size:16px;color: #969697;margin-left:0px;}

@keyframes cs{
    0%{opacity:0;}
    100%{opacity:1;}}



/*menu end*/


/**/

svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
    transform-origin: 36% 40%;
}
path:nth-child(2) {
    stroke-dasharray: 29 299;
}
path:nth-child(3) {
    transform-origin: 35% 63%;
}
path:nth-child(4) {
    stroke-dasharray: 29 299;
}
path:nth-child(5) {
    transform-origin: 61% 52%;
}
path:nth-child(6) {
    transform-origin: 62% 52%;
}




/*x*/

.active svg {
    transform: rotate(90deg);
}
.active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}

/*x_done*/




 .font1{font-family:'Tajawal';font-weight: 100;font-style: normal;vertical-align: baseline;}
 .font2{font-family:'Tajawal';font-weight: 500;font-style: normal;vertical-align:baseline;}
 .font3{font-family: 'Unna';font-style: italic;font-weight: 400;vertical-align:baseline;}
 .font4{font-family: 'Noto Sans TC';font-style: normal;}
 .font5{font-family:'Tajawal';font-weight: 300;font-style: normal;vertical-align: middle;align-self: center;}

 #font1{font-family:'Emblema One';}
 #font2{font-family: 'Rubik Glitch';}
 #font3{font-family: 'Rubik 80s Fade';}
 #font4{font-family: 'Kaushan Script';vertical-align: bottom;}

 .cfont0{font-size: 120px;font-family:'Tajawal';font-weight: 700;font-style: normal;vertical-align:baseline;}
 .cfont1{font-size: 80px;text-align:justify;vertical-align: bottom;}
 .cfont2{font-size:30px;text-align:justify;vertical-align: bottom;}
 .cfont3{width: 100%;vertical-align: bottom;}
 .cfont4{width:100%;font-size:25px;font-weight:300;text-align:right;}
 .cfont5{letter-spacing: 10px;width:100%;font-size:25px;font-weight:300;text-align:right;}
 .cfont6{font-size: 20px;vertical-align: baseline;}

 .white{color: #FFFFFF;}
 .orange{color:#FC875B}
 

.word1{display: hidden;}


.sec0 {
background: none;
color: #00001E;
padding:80px;
width: 100vw;
height: 68vh;}

.slogan{padding-top:10%;
    font-family: 'Tajawal';
    font-weight: 500;
}

.slogan_c{font-family: 'NOTO SANS TC';font-weight: 500;font-size: 16px;}

.scroll{align-content:end;
        align-items:baseline;
    }


.sec1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    align-items: center;
    background:transparent;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(80px);
    background:transparent;
    vertical-align:middle;
    max-height: 75vh;
    
}

u{text-decoration: underline solid 0.5px;bottom: 3px;}
.label__1{display: block;font-family: 'Poppins';font-size: 16px;color: #969697;float: left;padding-top: 0px;z-index: 10;width: 100%;text-align: left;height: 30px;}
.index__1{display: block;text-align: center;flex-grow: 1; 
    width: 100%;flex-direction: column;vertical-align:middle;align-self: center;justify-content: center;}

.context__1{font-size:18px;
    vertical-align:bottom;}
.deco__1{color:#fff;padding:2px;background-color: #00001E;border-radius: 30px;}
.en__title1{line-height:normal;text-align: center;vertical-align: sub;height:100px;}



.original{}

.original__en{display: flex;}
.original_en1{font-size: 100px;}
.original_en2{font-size:50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.original__zh{display: inline-flex;flex-direction:column;font-weight: 100;}

.original_content{font-weight: 300;}


.sec2 {
    max-width: 100%;
    background:#ffffff;
    border-radius: 50px;
}

.label__2{font-family: 'Poppins';font-size: 16px;color: #969697;float: left;padding-top: 0px;z-index: 10;text-align: left;height: 30px;}
.index__2{display: flex;text-align: left;font-size: 17px;padding-top:50px;padding-left:50px;
    width: 60%;flex-direction: column;vertical-align:middle;align-self: center;justify-content: left;}
.en__title2{line-height:normal;text-align:left;vertical-align: bottom;height:100px;}
.right__2{font-family: 'poppins';font-size: 15px;text-align: right;color: #969697;}

.optimal{}



.w{line-height:1;display:inline-block;will-change:auto;transform:translate3d(.5em,0,0) rotate(10deg) rotateY(120deg) rotateX(-30deg) scale(1.1);opacity:0;}

.sec3{
    background: #5985B9;
    border-radius: 50px;
    padding:100px;
    padding-left: 200px;
text-align: center;
align-items: center;
align-content: center;}


.index__3{text-align: left;font-size: 17px;
    width: 90%;vertical-align:middle;align-self: center;justify-content: left;}
.en__title3-1{top:220px;left:150px;background: transparent;z-index:101 ;position: absolute;line-height:normal;text-align:left;vertical-align: bottom;height:100px;vertical-align: bottom;}
.en__title3-2{z-index:100;left:150px;position: absolute;line-height:normal;text-align:left;vertical-align: sub;height:100px;}


.content__3{flex-flow: row wrap;justify-content:left;width: 80%;height: 100%;}
.pic__3{display: block;width: 300px;height:500px;}
.text__3{display: inline-block;width:40%;padding:40px;}



#sectiono{position: relative;}
.o2{position:absolute;right:-20px;top:40%;z-index: 50;}
.c{position:absolute;left:30px;bottom:-40px;}

#div4{vertical-align: middle;
    max-height: 80vh;
max-width: 90vw;}

.sec4 {
    max-height: 70vh;
    text-align: center;
    vertical-align: middle;
}

.index__4{display: flex;text-align: center;font-size: 17px;
    width: 90%;flex-direction: column;vertical-align:middle;align-self: center;}
.en__title4{line-height:normal;text-align:center;vertical-align: bottom;}






.contactus {
    color: #788FF7;
    padding: 50px;
    width: 90vw;
    height: 100%;
    gap:30px;
    background-color:rgba(0,0,0,0);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    }
   
   form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
   }
   
   .input__container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
   }

   input{height: 5px;}
   
   .input__container input,
   textarea {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    resize: none;
    width:400px;
    text-align: center;
    color: #788FF7;
   }

   .input__container  textarea
   {height:200px;text-align: left;}
   
   .btn {
    align-self: flex-end;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;

   }




   .left-right a{
    position:relative;
  }
 
  .left-right a::after{
    content:"";
    display:block;
    width: 0;
    height: 3px;
    background-color: #FC875B;
    position:absolute;
    bottom:20px;
    right: 0;
    transition:.4s;
  }

  
  .left-right a:hover::after{
    width: 100%;
    left: 0;
  }








.ft{background: #000;color: #FFFFFF;width: 100%;z-index: 110;
position: absolute;font-size: 15px;}

.ft a{text-decoration: none;transition:0.5s ease-in;font-family: 'Poppins';vertical-align:bottom;}
.ft a:hover{color:#FC875B;}


.lr a{
    position:relative;
  }
  .lr a::after{
    content:"";
    display:block;
    width: 0;
    height: 1px;
    background-color: #FC875B;
    position:absolute;
    right: 0;
    transition:.4s;
  }
  .lr a:hover::after{
    width: 100%;
    left: 0;
  }









.typing_text-heading {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .section-typing_text {
    padding: 3rem;
  }
  
  .typing_text-heading {
    width: 100%;
    max-width: 24rem;
    max-height: none !important;
    height: auto !important;
  }

  .section-typing_text .cursor {
    animation: cursorBlink 0.5s alternate infinite;
  }

.text{display: none;}











/*article botton1*/

  

  .button {
    cursor: pointer;
    position: relative;
    padding: 15px 60px;
    font-size: 22px;
    color: #00001E;
    letter-spacing: 1px;
    border: 1px solid #00001E;
    border-radius: 10px;
    background-color:#FFFFFF;
    transition: all 0.3s cubic-bezier(50, 50, 50, 50) ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
    align-self: left;
    font-family: 'poppins','noto sans tc';
    font-weight: 400;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #00001E;
    transition: all 0.3s cubic-bezier(50, 50, 50, 50) ease-in-out;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
  }
  
  
  .button:hover::before {
    scale: 5;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
  .button:hover {
    color: #FFFFFF;
    scale: 1.1;
    border:3px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
  }
  
  .button:active {
    scale: 1;
    transition: all 0.3s ease-in-out;
  }
  
  
  

/*botton2*/



.button2 {
    cursor: pointer;
    position: absolute;
    padding: 15px 60px;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color:transparent;
    transition: all 0.3s cubic-bezier(50, 50, 50, 50) ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
    align-self: center;
    font-family: 'poppins','noto sans tc';
    font-weight: 400;
  }
  
  .button2::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #00001E;
    transition: all 0.3s cubic-bezier(50, 50, 50, 50) ease-in-out;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
  }
  
  
  .button2:hover::before {
    scale: 5;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
  .button2:hover {
    color: #FFFFFF;
    scale: 1.1;
    border:3px;
    background-color: #00001E;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  -ms-animation: fadeIn 0.3s ease-in-out;
  }
  
  .button2:active {
    scale: 1;
    transition: all 0.3s ease-in-out;
  }
  










  .ft__0{vertical-align:baseline;display: flex;padding:140px;padding-top:180px;justify-content: space-between;}
  .ft__1{height: max-content;display: block;padding:0px;}
  .ft__2{width: 60%;padding-left: 140px;padding-right: 140px;padding-bottom: 80px;display: flex;justify-content: space-between;}
  .ft__3{font-family: 'Poppins';font-size: 11px;color: #eaeae9;}
  .ft__4{display: flex;flex-flow: column nowrap;justify-content: flex-start;font-family: 'Poppins';font-size:24px;}
  .ft__5{color:#2A3F58;vertical-align:sub;font-family:'Courier New', Courier, monospace;font-size: 14px;}
  
  .ft__title{padding-top:20px;align-self:flex-end;display: block;font-family: 'Tajawal';font-weight: 400;font-size: 116px;}
  .ft__sns{width:200px;}
  
  .ft__2 a{color:#eaeae9;}
  
  .ft__4 a{color:#fff;}
  
  .app{display: none;}
  
