@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
	transition:1s ease-in;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	
}



html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
	color: #fff;
	z-index: -20;
	font-display: swap;
	font-size:24px;-webkit-font-smoothing: antialiased; /* for safari & chrome */
	-moz-osx-font-smoothing: grayscale; /* for firefox */
	
}

#ent {border: 0px;}

#headimg{
    margin: 0px;
	border: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow:hidden;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	align-items: center;
	text-align: center;
	align-content: center;
}


#topbar{
    transition: 1s;
    border: 0;
    background:url('TopBar.png');
	background-size: cover;
    width:calc(100% + 50px);height: 57px;position: absolute;z-index:0;padding:0px;margin:0;margin-left:-50px;top:0;left:0;
}

#downbar{
	transition: 1s;
	position: absolute;
	display: block;
	border: 0;z-index:30;
	width: 40%;height:25px;bottom:-40px;left:40px;background:transparent;
}


#downbar2{
	transition: 1s;
	position: absolute;
	display: block;
	border: 0;
	width: 40%;height: 25px;z-index:30;bottom: -30px;right:40px;background:transparent;
}



#dbar{
	z-index: -1;
	transition: 1s;
	border: 0;
	background:url('down.png');
	width:40%;height:11px;position: absolute;padding:0px;margin:0;margin-left:40px;left:0;bottom: 30px;background: cover;
	}

#dbar2{
	z-index: -1;
	transition: 1s;
	border: 0;
	background:url('down.png');
	width:40%;height:11px;position: absolute;padding:0px;margin:0;right:40px;bottom: 30px;background: cover;
	}

.hon{font-size: 5dvh;letter-spacing: 5px;line-height: 6vh;}
.hon2{font-family: "Michroma", sans-serif;font-size: 2dvh;line-height:7vh;}
.hon3{font-family: "Michroma", sans-serif;font-size: 2.5dvh;letter-spacing: 5px;line-height:6vh;}


#pt1 {
	/*min-height:calc(95% + 60px) ;*/
	min-height: 100%;
	display: flex;
	align-items: center;
	vertical-align:bottom;
}

#pt2 {
	width: 100%;
	height:30px;
	width: 100%;
	display: block;
	z-index: 3;
	padding: 30px;
	align-items: center;
}

#headimg:img{
	align-items: center;
	text-align: center;
	vertical-align: middle;
	width: 20dvw;
	border:0px;

}

#img{
	align-items: center;
	vertical-align: middle;
	padding-bottom: 30px;
	border:0px;
	font-size:0;

}

img {
	border-style: none;
  }
  


a{
	color:#fff;
	text-decoration: none;}



	  .backdrop-blur {
		text-align: left;
		-webkit-background:rgba(12, 0, 14, 0.3);
		-webkit-overflow-scrolling: touch;
		-webkit-backdrop-filter: blur(9px);
		backdrop-filter: blur(10px);
        background-color: rgba(12, 0, 14, 0.3);
		border: 0;
		align-items: center;
		text-align: center;
		align-content: center;
		align-self: center;
		margin:0px;
		padding: 0px;
		right:0px;
		width: 100%;
		color:#fff;

	
		  }

	  .backdrop-blur2 {
		-webkit-backdrop-filter: blur(9.5px);
		-webkit-overflow-scrolling: touch;
			backdrop-filter: blur(60px);
			background: rgba(5, 0, 0, 0.4);
			align-items: center;
			text-align: center;
			align-content: center;
			align-self: center;
			padding: 10px;
        	text-shadow: rgba(28, 4, 49, 0.7) 0em 0em 0.1em;
			left:50%;
			top:50%;
			position: relative;
			margin: 80px 0 0 -100px;
			border-radius: 20px;
			color:#fff;

		
		  }



		  .backdrop {
			-webkit-background:#000;
			-webkit-backdrop-filter: blur(9.5px);
			-webkit-overflow-scrolling: touch;
			-webkit-opacity:0.85;
			backdrop-filter: blur(50px) brightness(10%);
			background: rgba(5, 0, 0, 0.4);
			align-items: center;
			text-align: center;
			align-content: center;
			align-self: center;
			padding: 10px;
			text-shadow: black 0.1em 0.1em 0.2em;
			left:50%;
			top:50%;
			position: relative;
			margin: 80px 0 0 -100px;
			border-radius: 20px;
			color:#fff;

		
		  }

#about{
	text-align: left;
	width: 100%;
	overflow: hidden;
	transition:1s ease-in;
	left:0px;
	border: 0px;padding: 0px;margin: 0px;

}



#aboutext{
	text-align: left;
	width: 70%;padding-left:65px;
	padding-top: 65px;
	line-height: 45px;
	letter-spacing: 0.5px;
	color:#fff;
	transition:1s ease-in;
	border: 0;margin: 0px;
}

.eng{
	font-family: "Michroma", sans-serif;
	padding:65px 0px 65px;
	margin: 0px;
	line-height: 55px;
	letter-spacing: 0.5px;
	color:#fff;
	transition:1s ease-in;
	border: 0;
}



.delay{
	animation-delay: 1s; /* 先等待 2 秒再執行 */
  }

#gotop {
	
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    background-image:url(top2.png);
	background-size: 90%;
	width:140px;height:70px;
    background-repeat: no-repeat;
    color: white;
    cursor:pointer;
	z-index: 999;
	transition: 1s ease-in-out;
	animation:top-shine 3s linear infinite;
	border: 0px;
	
}

@keyframes top-shine{
	0%{opacity:0.5;}
	5%{opacity:1;}
	70%{opacity:0.8}
	100%{opacity:0;}
  }  

#gotop:hover{
	bottom: 30px;
	opacity: 1;
	-webkit-opacity:1;
	transition: 1s;
}

#gotop a:hover{
	bottom: 30px;
	opacity: 1;
	-webkit-opacity:1;
	transition: 1s;
}




#bt {
	z-index: 3;
	line-height: 50px;
	letter-spacing: 3px;
	transition:1s ease-in;
}

#bt2 {
	font-family: "Michroma", sans-serif;
	z-index: 3;
	letter-spacing: 2px;
	transition:1s ease-in;
}

.smallf{
	font-size: 16px;font-weight:300;
}



.content{
	display: block;
	padding-left: 300px;
	transition:1s ease-in;
}

.atc{
 font-size: 40px;
 text-shadow:
 0 0 5px rgba(250, 241, 255, 1),
 0 0 10px rgba(250, 241, 255, 0.7);
 animation:ate-shine 2s linear infinite;
 transition:1s ease-in;
letter-spacing: 0.5px;}

.ate{
 font-family: "Michroma", sans-serif;
 font-weight: 400;
 display: inline;
 font-size:28px;
 font-weight:400;
 padding-bottom: 10px;
 letter-spacing: 2px;
 line-height: 50px;
 transition:1s ease-in;
 text-shadow: rgba(28, 4, 49, 1) 0em 0.1em 0.3em;
}

@keyframes ate-shine{
	0%{opacity:0.5;}
	5%{opacity:1;}
	70%{opacity:0.8}
	100%{opacity:0;}
  }  

/*漸層底線*/
  .underline1 {
	display: inline;
	height: 130%;
	background-image: linear-gradient(120deg, #4418d1 0%, #9966FF 100%);
	background-repeat: no-repeat;
	background-size: 100% 7px;
	background-position: 0 88%;
	transition:5s ease-in;
	&:hover {
		background-image: linear-gradient(120deg, #9966FF 0%, #4418d1 100%);
		
		transition:5s ease-out;
	}
  }




#sec1{
	padding:0px 100px 100px;
	
}

#sec2{

	padding: 100px;
}

#sec3{

	color: #9966FF;
	line-height: 10px;
	padding: 20px;
	background: #000;
	display: inline;
	position: relative;
	letter-spacing: 1px;

}

h2{font-weight: 400;letter-spacing: 2px;margin:0;}

h3{font-weight: 500;color: #9966FF;margin-top: 0;}

.secp{
	width: 70%;
	height: auto;
text-align: center;
align-content: center;
padding-left: 15%;

}

.secp img{
	width: 100%;
	text-align: center;
}

.secp2{
	width: 74%;
	height: auto;
text-align: center;
align-content: center;
padding-left: 88px;

}

.secp2 img{
	width: 100%;
	text-align: center;
}




	  .box {
		
		border-radius: 21px;
		position: relative;
		width: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		opacity: 0.8;
		
		}

	  /*一个溢出的盒子作为边框，添加背景后形成光源效果*/
	  .box::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background: #ffffff;
		z-index: -1; /*元素堆叠顺序*/
		border-radius: 20px;
		-webkit-filter: blur(10px);
		filter: blur(10px);
		-webkit-backdrop-filter: blur(9px);
		backdrop-filter: blur(50px);
	  }

	  /*另一个溢出的盒子，模糊形成光晕效果*/
	  .box::after {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background: #ffffff;
		z-index: -2;
		/*添加模糊滤镜*/
		-webkit-filter: blur(10px);
		filter: blur(40px);
		border-radius: 20px;
		-webkit-backdrop-filter: blur(9px);
		backdrop-filter: blur(50px);
	
		
	  }

	  .box::before,
	  .box::after {
		filter: blur(30px);
		border-radius: 20px;
		padding: 13px;
		/*三色渐变，中间为背景色，融入背景*/
		background: linear-gradient(235deg, #4418d1, #060c21, #9966FF);
		backdrop-filter: blur(50px);
	}
	  .content {
		transition:1s ease-in;
		display: inline;
		background: #0b000d;
		border-radius: 5px;
		padding: 20px;
		margin: 7px;
		box-sizing: border-box;
		color: #fff;
		box-shadow: 0 0 10px 13px #0b000d;
		backdrop-filter: blur(50px);
		line-height: 45px;

	  }
 

.box2 {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 25px;
  display:block;
  margin:30px;
  padding:30px;
  width: 70%;
  -webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(70px);

}

.f200{font-weight: 300;line-height: 50px;}
.f400{font-weight: 400;line-height: 50px;}
.f600{font-weight: 600;line-height: 50px;}

#aboutext2{
	
	color:#fff;
	transition:1s ease-in;
	border: 0;
	margin-top: -83px;
	margin-left:45px;
	line-height: 45px;
}

.aboutextc{
	
	color:#fff;
	line-height: 45px;
	text-align: justify;
    font-weight: 400;
	letter-spacing: 0.5px;text-shadow: rgba(28, 4, 49, 0.8) 0em 0em 0.2em;
}


.aboutexte{
	letter-spacing: 0.5px;
	text-align:start;
	color:#fbf0ff;
	font-weight:300;
	font-size:22px;
	line-height: 45px;
}




.box2 sh {
  position: absolute;
  inset: calc(-30px - 0px - 71px);
  border: calc(30px + 0px + 71px) solid #0000;
  border-radius: calc(30px + 0px + 71px + 20px);
  -webkit-mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  transform: translateZ(-1px);
  pointer-events: none;

}
.box2 sh::before {
	
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: 100px;
  -webkit-background: conic-gradient(from 235deg at 40% -25%,#4418d1, #060c21, #9966FF);  ;
  background: conic-gradient(from 235deg at 40% -25%,#4418d1, #060c21, #9966FF);
  -webkit-filter: blur(30px); 
  filter: blur(30px);
  transform: translate(0px,0px);

}



.box3 {
	position: relative;
	transform-style: preserve-3d;
	border-radius: 20px;
  }
  .box3::before {
	content: "";
	position: absolute; 
	inset: 0px;
	background: conic-gradient(from 235deg at 40% -25%,#4418d1, #060c21, #9966FF);
	filter: blur(30px);
	transform: translate3d(36px,35px,-1px);
	border-radius: inherit;
	pointer-events: none;
  }



.apphr{
	border: 0.7px #550d7a solid;	
}




.app{
	display: none;
}

.desktop{
	display: block;
}

.container{
	width: 100%;
	overflow: hidden;
	margin: 0;
	border: 0;
	padding: 0;
}

/*浮動固定選單*/
.navigation{
	transition:1s ease-in;
	background-color: transparent;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(50px);
	/*background-color: rgba(12, 0, 14, 0.5);*/
	padding: 10px;
	margin: 0;
	top:0;
	right: 0;
	color: #000;
	z-index: 9999;
	width: 98%;
	text-align: center;
	overflow-x:scroll;
	overflow-y: hidden;
	white-space: nowrap;
	position: sticky;
	transition:1s ease-in-out;
	font-size: 20px;

  }


  .navigation a {      /* 超連結設定*/
    color:#e5a9f3;          /* 文字顏色設定*/
    text-decoration: none; /* 文字無底線*/
	transition:1s ease-in-out;
	text-shadow: rgba(28, 4, 49, 0.8) 0em 0em 0.2em;
	font-size: 20px;
}

.navigation a:hover {
    color: #fff;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation:target {
    color: #fff;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation a:active {
    color: #fff;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation a:focus {
    color: #fff;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.trans{
	color: rgba(0, 0, 0, 0);
}

.navigation.ab a:hover {
    color: #ebbcf5;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation.ab:target {
    color: #ebbcf5;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation.ab a:active {
    color: #ebbcf5;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}

.navigation.ab a:focus {
    color: #ebbcf5;
    text-decoration: none;
	font-size: 22px;
	letter-spacing: 1px;
}



  .navigation.ab{
	color:#3e0958;
	font-size: 20px;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(50px);
	-webkit-overflow-scrolling: touch;
	box-shadow: 5px 0 50px rgba(0, 0, 0, 0.7);
	transition:1s ease-in-out;
	opacity: 1;

  }

  .navigation.ab a{
	color:#9966FF;
	transition:1s ease-in-out;
	text-shadow: rgba(28, 4, 49, 0.8) 0em 0em 0.2em;
  }



  nav::-webkit-scrollbar {
	display: none;
	width: 0px;
}


  .navigation ul {           /* 導覽列整體設定*/
    margin: 0;             /* 取消外距，設定為0*/
    padding: 4px;          /* 內部距離，設定為4px*/
    text-align: center;    /* 文字置中*/
}
.navigation ul li {        /* 按鈕個別設定*/
    list-style-type: none; /* 取消前面的小黑點*/
    display: inline;       /* 成一行排列*/
    margin: 0 5px;         /* 外距設定為0.5px*/
    font-size: 15px;       /* 字體大小15px*/
}




.neon-effect:nth-of-type(1){
	text-shadow:
	0 0 5px rgba(249, 254, 255, 1),
	0 0 10px rgba(249, 254, 255, 1),
	0 0 20px rgba(249, 254, 255, 1),
	0 0 40px rgba(249, 254, 255, 1);
	animation:neon-shine 3s linear infinite;
	margin: 0;
        border: 0;
        padding: 0;
	
  }


  .neon-effect:nth-of-type(2){
	text-shadow:
	0 0 5px rgba(249, 254, 255, 1),
	0 0 10px rgba(249, 254, 255, 1),
	0 0 20px rgba(249, 254, 255, 1),
	0 0 30px rgba(249, 254, 255, 1);
	animation:neon-shine 4s linear infinite;
	
  }

  .neon-effect2{
	text-shadow:
	  0 0 5px rgba(249, 254, 255, 1),
	  0 0 10px rgba(249, 254, 255, 1),
	  0 0 20px rgba(249, 254, 255, 1),
	  0 0 30px rgba(249, 254, 255, 1);
	animation:neon-shine 4s linear infinite;
	
  }

  .neon-effect3{
	text-shadow:
	  0 0 5px rgba(255, 255, 255, 1),
	  0 0 10px rgba(255, 255, 255, 1);
	animation:neon-shine 3s linear infinite;
	
  }



  .neon-effect4{
	text-shadow:
	  0 0 5px rgba(255, 255, 255, 1),
	  0 0 10px rgba(255, 255, 255, 0.8);
	
  }


  @keyframes neon-shine{
	0%{opacity:0.5;}
	5%{opacity:1;}
	70%{opacity:0.8}
	100%{opacity:0;}
	
  }  


  .last {
	display: flex;
	flex-flow: row nowrap;
     width: 80%;
	 padding:100px;
	 padding-left: 140px;
	 align-self: right;
  }

.last1{ width:45%;padding:20px;}
.last2{width:55%;padding:20px;
	letter-spacing: 0.5px;
	text-align:start;
	color:#fbf0ff;
	font-weight:400;
	font-size:18px;
	line-height: 40px;}


  .fin{
	width: 100dvw;
	height: 80dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
  }

  .copyright{
	text-align: center;
	align-items: center;
	display: block;
	padding: 30px;
	margin:0px;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(70px);
	text-shadow: rgba(28, 4, 49, 1) 0em 0.1em 0.3em;
}

.ls10{letter-spacing: 1px;}

/*background*/

.bgm{
	margin: 0;
	border: 0;
	padding: 0;
	background: url(bgs.png);
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 50%;
	background-position-y: 100%;
	position: fixed;
	-webkit-postion: fixed;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	width: 100%;
	z-index:-1 ;  
	animation:bgmshine 5s linear infinite;
	transition:1s ease-in;

	}

	@keyframes bgmshine{
		0%{opacity:1;}
		70%{opacity:0.5}
		100%{opacity:1;}} 

	body{
		overflow-x:hidden;}

html{background: #000;}

body::-webkit-scrollbar {
    display: none;
	width: 0px;
}

body {
    -ms-overflow-style: none;
    height: 100%;
}
