@media  (max-width: 1000px), (orientation: portrait) {


    html,body{
    margin: 0;
    padding: 0;
     line-height: 80px;
	 font-size: 35px;}

    .smallf{
    font-size: 24px;
    font-weight: 400;
    }

    #pt1 {
        min-height: 101%;}


    #headimg{
        padding-top:100px;
        padding-bottom: 100px;
        height: 101%;
    }

    .bgm{
        
        background-position-x: 50%;
        background-position-y: 100%;}

    #topbar{
    transition: 1s;
    border: 0;
    background:url('TopBar.png') 3300px auto;
    width:100%;height: 120px;position: absolute;z-index:0;padding:0px;margin:0;margin-left:-80px;top:0;left:0;background: cover;
    }

    #downbar{
        left:40px;width:40%;bottom: -50px;height: auto;
    }
    
    
    #downbar2{right:40px;width:40%;bottom: -50px;height: auto;
    }




    .hon{font-size: 6dvw;letter-spacing: 15px;padding-left:-15px;line-height: 6vh;}
    .hon2{font-size: 4dvw;margin-left:-1.5px;line-height: 6vh}

    @keyframes bgmshine{
    0%{opacity:1}
    70%{opacity:0.5}
    100%{opacity:1};} 

    #gotop {
        display: block;
        position: fixed;
        right: 30px;
        bottom: 10px;
        font-size: 23px;
        background-image:url(top.png);
        background-size: 100%;
        width:100px;height:80px;
        background-repeat: no-repeat;
        color: white;
        cursor: pointer;
        z-index: 999;
        line-height: 70px;
        border: 0px;
    }


    #img{
        align-items: center;
        text-align: center;
        width:80%;height: auto;
        border:0px;
        margin-left: -20px;
        padding-left: -20px;
        left:-20px;
    }


    img {border:0px;}
 
    #bt {font-family: "Michroma", sans-serif;
        padding:0px;
        letter-spacing: 3px;line-height: 70px;
    }

    #bt2{font-family: "Michroma", sans-serif;
        padding: 0px;
    line-height: 70px;}

    .atc{
        font-size: 60px;
        text-shadow:
             0 0 5px rgba(255, 255, 255, 1),
             0 0 10px rgba(255, 255, 255, 1);
        animation:ate-shine 2s linear infinite;
        letter-spacing: 2px;
        clear: both;
       }
       
    .ate{
    display: inline;
    font-size:45px;
    letter-spacing: 2px;
       }

#ent {
    padding-top: 20px;
}


.secp{
    width: 90%;
    height: auto;
    padding-left: 50px;

}

.secp2{
	width: 90%;
	height: auto;
text-align: center;
align-content: center;
padding-left: 42px;

}

.secp2 img{
	width: 100%;
	text-align: center;
}

#aboutext{
    color: #fff;
     width: 70%;line-height: 80px;
     letter-spacing: 0.5px;
     text-align: center;

 }

 .eng{
    line-height: 90px;
    padding-top: 40px;
 }


.ls10{padding-top:10px;line-height: 60px;}

.box2{
    width:70%;
    padding:30px;
}

#sec1, #sec2{padding: 0px 75px 100px;}

 #aboutext2{
    font-weight: 400;
    padding:30px;
    color: #fff;
     padding:50px;
     line-height: 80px;
     letter-spacing: 0.5px;
     margin-top: -94px;
     margin-left:22px;

 }

 .f200{font-weight: 400;}


.aboutextc{

color:#fff;
line-height: 65px;
text-align: justify;
font-weight: 400;
letter-spacing: 0.5px;

}

.center{
    display: flexbox;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items:center;
}


.aboutexte{

text-align:start;
color:#fbf0ff;
font-weight: 400;
font-size:30px;
line-height: 60px;
letter-spacing: 0.5px;
}
 

.box {
		
    width: 90%;}
    
.content {

    line-height: 60px;
    padding:40px;
    letter-spacing: 1px;

}

.last {
	display: flex;
	flex-flow: column;
     width: 80dvw;
     padding-left: 45px;
	 
  }

  .last1{width:80%;padding:40px;}
  .last2{width:80%;padding:40px;}

  
  .fin{
	width: 100dvw;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
  }


.copyright{
    margin:0px;
    text-align: left;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    
}


.desktop{
    display: none;
}

.app{
    display: inline-block;
}

.apps{
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
    height: 1px;
}

.apphr{
    
    
    line-height: 100px;
    border: 1px #550d7a solid;
    
}


.navigation{
    font-size: 28px;
    text-align: right;
    width: 100%;
    border: 0px;
    padding: 0;
    margin: 0;
    letter-spacing: 0px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(70px);
    background-color: rgba(12, 0, 14, 0.5);
    -webkit-overflow-scrolling: touch;
    transition:1s ease-in;
    }


    nav::-webkit-scrollbar {
        display: none;
        width: 0px;
    }

    .navigation a {
        font-size: 28px;
        transition:1s ease-in;}

    .navigation.ab {
        font-size: 28px;
        border: 0px;
        padding: 0;
        margin: 0;}

    .navigation.ab a {
        font-size: 28px;}

    .navigation a:hover{
        font-size: 32px;
    }

    .navigation a:focus{
        letter-spacing: 1px;
        font-size: 32px;
        transition:1s ease-in;
    }

    .navigation a:active{
        letter-spacing: 1px;
        font-size: 32px;
        transition:1s ease-in;
    }

    .navigation.ab a:hover{
        font-size: 32px;
        transition:1s ease-in;
    }

    .navigation.ab a:focus{
        font-size: 32px;
        letter-spacing: 1px;
        transition:1s ease-in;
    }

    .navigation.ab a:active{
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 1px;
        transition:1s ease-in;
    }





}
